body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.laptopAttr {
  background-color: aquamarine;
  width: 120px;
  }

.btn1{
  float: right;
  margin-right: 48px;
}  